
          /* Global Styles */

        * {
            box-sizing: border-box;
        }          
          body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        background-color: #00010e;
        color: #f1f1f1;
        line-height: 1.2;
        }

        header {
        background-color: #00010e;
        color: #f1f1f1;
        padding: 10px;
        text-align: center;
        justify-content: center;
        }

        h1 {
        font-size: 72px;
        font-weight: 400; /* Set h1 to bold */
        margin: 0; /* 10px margin for H1 */
        letter-spacing: -2px;
        }

        h1 span {
        display: inline-block;
        margin-left: 10px;
        font-size: 96px;
        font-weight: 400; /* Set font weight for span */
        }

        h2 {
        font-size: 40px;
        font-weight: 400;
        margin: 20px 0;
        line-height: 1.1;
        }

        h4 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
        line-height: 1.4; /* Added line-height to improve readability */
    }
        
      

        
        header, .about, .work {
        max-width: 1200px; /* Limit content width */
        margin: 0 auto; /* Center the content */
        padding: 10px 30px 10px 20px; /* Add padding for smaller screens */
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
            background-color: #00010e;
            list-style: none;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }

        .logo {
            display: flex;
            align-items: center;
        }
        
        .logo img {
            max-height: 40px; /* Adjust this value to fit your design */
            width: auto;
            border-radius: 16px;
        }
        
        .nav-links {
            display: flex;
            gap: 20px;
        }

        .nav-links a {
            color: #00010e;
            background-color: white;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 16px;
            font-weight: 400;
            transition: background-color 0.3s ease;
        }

        .hamburger-menu {
            display: none;
            position: relative;
            z-index: 1000;
            background: white;
            border: none;
            cursor: pointer;
            border-radius: 8px;
        }

        .hamburger-line {
            display: block;
            width: 14px;
            height: 2px;
            margin: 4px 0;
            background-color: #00010e;
            transition: all 0.3s ease;
        }

        .nav-links a:hover {
        background: linear-gradient(45deg, #011228, #ff0047); 
        color: #F2F2F2;
        }
        
        /* Works Section */
    .works {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #00010e; /* Dark background */
    color: #f9f6ee; /* Light blue text color */
    padding: 50px 70px 20px 70px;
    }

.works-top {
    max-width: 1200px;
    text-align: left;
}

.works-top p {
    max-width: 1200px;
    margin: 0;
    line-height: 1.2;
    font-size: 32px;
    font-weight: 400;
}

    
 /* Work Section */
 .work {
    
            text-align: center;
            background-color: #00010e;
            max-width: 1200px; 
            padding: 60px 40px 60px 60px; 
        }

    .work-selection {
        justify-content: space-around;
        align-content: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px; 
    }

    .work-item {
        position: relative;
        width: 280px;
        margin: 10px;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        max-width: 200px;
    }

    .text-content {
        width: 240px;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 240px;
      }
      
      .text-content h3 {
        margin: 10px 0 4px 0;
        font-size: 16px;
        font-weight: 600;
        width: auto;
      }
      
      .text-content p {
        margin: 0; 
        padding-bottom: 8px;
        font-size: 12px;
        font-weight: 300;
        width: auto;
      }    


    .work-item img {
        width: 240px;
        height: auto; /* Use auto for better responsiveness */
        border-radius: 8px;
        margin-top: 20px;
        transition: transform 0.3s ease; /* Added transition for smooth scaling */
}

/* Arrow button (hidden initially) */
    .arrow-icon {
    position: absolute;
    top: 14px;
    right: -10px;
    transform: translate(-10%, -10%);
    width: 24px; 
    height: 24px;
    max-width: 24px;  
    max-height: 24px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 2; 
}

/* Show arrow on hover */
.work-item:hover .arrow-icon {
    opacity: 1; 
    transform: translate(-10%, -10%) scale(1.2);
}

/* Optionally, style the hover effect for the image */
.work-item:hover img {
    filter: brightness(70%); 
    transition: filter 0.3s ease;
    cursor: pointer;

}


/* Base responsive styles */
@media screen and (max-width: 1200px) {
    header, 
    .about,
    .work,
    .contact,
    nav {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }

}

/* Tablet styles */
@media screen and (max-width: 768px) {

    /* Navigation */

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }


    /* Work section */
    .work {
        padding: 30px 20px;
    }

    .work-selection {
        grid-template-columns: repeat(2, 1fr);
    }

    .work-item {
        width: 100%;
        margin: 5px;
    }

    .text-content {
        width: 100%;
    }
}

.hamburger-menu{
    display: none;
}

/* Mobile styles */
@media screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }

    header, 
    #works
    #work
    .work,
    .contact,
    nav {
        max-width: 375px;
        width: 350px;
        margin: 0 auto;
        padding: 0 10px;
    }
    header{
        width: 350px;
        max-width: 375px;
        box-sizing: border-box;
    }

    #works{
    width: 100%;
    max-width: 375px;
    padding: 10px 20px;
    box-sizing: border-box;
    }
    .works-top{
        width: 350px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .works-top p{
        font-size: 24px;
    }

      /* Work section */
      .work{
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }

    .work h2 {
        font-size: 28px;
        margin: 40px auto 8px auto;
    }
    
    .work-selection {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .work-item {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }

    .work-item img {
        width: 100%;
        max-width: 260px;
    }


    /* Navigation */
    nav {
        width: 100%;
        max-width: 375px;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .hamburger-menu{
        display: flex;
        background-color: white;
        color: #011228;
        padding:4px 10px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 8px;
    }
    .mobile-nav {
        position: fixed;
        text-align: left;
        top: 0;
        right: -250px;
        height: 100vh;
        width: 200px;
        background: #00010e;
        color: #F1f1f1;
        z-index: 999;
        transition: right 0.3s ease;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    }
    
    .mobile-nav.active {
        right: 0;
        display: block;
        transform: translateX(0);
    }

    .mobile-nav .nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding:80px 10px;
        align-items: flex-start;
        max-width: 200px;
        width: 200px;
    }
    
    .mobile-nav .nav-links li {
        list-style: none;
        width: 80%; 
        margin: 0 auto;
    }
    
    .mobile-nav .nav-links a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 16px;
        font-size: 16px;
        transition: background 0.3s ease;
    }
    
    .mobile-nav .nav-links a:hover {
        background: linear-gradient(45deg, #011228, #ff0047);
    }
    
    
    .nav-links {
        padding: 60px 20px 20px;
        list-style: none;
        margin: 0;
    }
    
    .nav-links li {
        margin-bottom: 15px;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        display: block;
        padding: 10px 20px;
        border-radius: 16px;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }
    
    .nav-links a:hover {
        background: linear-gradient(45deg, #011228, #ff0047);
    }

    .nav-links li:nth-child(4) a {
        background-color: white;
        color: #011228;
        padding: 10px 20px;
        border-radius: 16px;
        margin-top: 10px;
        transition: background-color 0.3s ease;
      }
      
    .hamburger-menu.active .hamburger-line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger-menu.active .hamburger-line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .hamburger-line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }
    
    .overlay.active {
        display: block;

}   
    .footer-content {
        flex-direction: column;
        width: 350px;
}
.copyright{
    padding: 10px 0;
}
.footer-links{
    padding: 10px 0;
}
}


/* Optional: Add hamburger menu for mobile */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hamburger-menu {
        display: block;
        background: white;
        border: none;
        cursor: pointer;
    }
}